{{>licenseInfo}}
package {{apiPackage}}

import fr.vestiairecollective.network.redesign.model.*
import io.reactivex.Single
import retrofit2.http.*

{{#operations}}
interface {{classname}} {

    {{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}* @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/allParams}}* @return {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}void{{/returnType}}
    */
	@{{httpMethod}}("{{path}}")
    fun {{operationId}}({{#pathParams}}@Path("{{baseName}}") {{paramName}}: {{{dataType}}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}{{#bodyParams}}@Body {{paramName}}: {{{dataType}}}{{#hasMore}}, {{/hasMore}}{{/bodyParams}}{{#queryParams}}@Query("{{baseName}}") {{paramName}}: {{{dataType}}}{{#hasMore}}, {{/hasMore}}{{/queryParams}}): {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}Unit{{/returnType}}
    {{/operation}}
}
{{/operations}}
