{{>licenseInfo}}
package {{apiPackage}}

import fr.vestiairecollective.network.redesign.model.*
import io.reactivex.Single
import retrofit2.http.*

{{#operations}}
interface {{classname}} {

    {{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}* @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/allParams}}* @return {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}void{{/returnType}}
    */
	@{{httpMethod}}("{{path}}")
    fun {{operationId}}({{#allParams}}{{^isHeaderParam}}{{#isQueryParam}}@Query("{{baseName}}") {{/isQueryParam}}{{#isPathParam}}@Path("{{baseName}}") {{/isPathParam}}{{#isBodyParam}}@Body {{/isBodyParam}}{{paramName}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isHeaderParam}}{{/allParams}}): {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}Single<EmptyResponse>{{/returnType}}
    {{/operation}}
}
{{/operations}}
