{{#description}}
    /* {{{description}}} */
{{/description}}
    var {{{name}}}: {{{datatype}}}{{#isBoolean}} = false{{/isBoolean}}{{#isInteger}} = 0{{/isInteger}}{{#isDouble}} = 0.0{{/isDouble}}{{#isFloat}} = 0.0f{{/isFloat}}