{{>licenseInfo}}
package {{modelPackage}}

{{#threetenbp}}
import org.threeten.bp.LocalDateTime
{{/threetenbp}}
import com.fasterxml.jackson.annotation.JsonIgnoreProperties
import com.fasterxml.jackson.annotation.JsonInclude

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{>data_class}}{{/isEnum}}
{{/model}}
{{/models}}
