"{{baseName}}": {{paramName}}{{#isEnum}}{{^isContainer}}{{^required}}?{{/required}}.rawValue{{^required}} ?? ""{{/required}}{{/isContainer}}{{/isEnum}}{{^isEnum}}{{^required}} ?? ""{{/required}}{{/isEnum}}